<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" {{- with partialCached "func/GetLanguageDirection" "GetLanguageDirection" }} dir="{{ . }}" {{- end }}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  </head>

  <body>
    <table border="1">
      <tr>
        <td>Sr No.</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
      </tr>
      {{ $productsCSV := resources.Get "products.csv" }}
      
      {{ $csvContent := $productsCSV.Content | string}}
      {{ $rows := split $csvContent "\n" }}
      {{range $index,$row := $rows}}
        {{if eq $index 0}} {{continue}} {{end}}
        {{ $column := split $row "," }}
        <tr>
          <td>{{ $index }}</td>
          <td>{{ index $column 0 }}</td>
          <td>{{ index $column 1 }}</td>
          <td>{{ index $column 2 }}</td>
        </tr>
      {{ end }}
    </table>

  </body>
</html>
