<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" {{- with partialCached "func/GetLanguageDirection" "GetLanguageDirection" }} dir="{{ . }}" {{- end }}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  </head>

  <body>
    <table border="1">
      <tr>
        <td>Sr No.</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
      </tr>
      {{ range $index,$item := .Site.Data.products }}
        <tr>
          <td>{{add $index 1}}</td>
          <td>{{ $item.name }}</td>
          <td>{{ $item.price }}</td>
          <td>{{ $item.desc }}</td>
        </tr>
      {{ end }}
    </table>

  </body>
</html>
